<div class="navbar-container">
  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>Prestamos</h1>
    </a>
    <span class="navbar-spacer"></span>
    <app-capital></app-capital>
  </mat-toolbar>

  <!-- Menu -->
  <mat-drawer-container class="navbar-sidenav-container">
    <mat-drawer #drawer class="sidenav" fixedTopGap="56" mode="push" position="start">
      <mat-nav-list>
        <h3 mat-subheader>Opciones</h3>

        <a mat-list-item [routerLink]="['/dashboard/home']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            home
          </mat-icon>
          <p mat-line> Home </p>
        </a>

        <a mat-list-item [routerLink]="['/prestamos/solicitud']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            note
          </mat-icon>
          <p mat-line> Solicitar credito </p>
        </a>

        <a mat-list-item [routerLink]="['/prestamos/listado']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            view_list
          </mat-icon>
          <p mat-line> Solicitudes </p>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
