<div class="row">
  <div class="col-8 mt-2">
    <div class="example-label-container example-label-horizontal">
      <label class="col-6"
        >Desde {{ min | currency }} - hasta {{ max | currency }}</label
      >
      <label class="col-6">
        Cantidad deseada : ({{ value | currency }})</label
      >
    </div>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [max]="max"
      [min]="min"
      step="1000"
      [(ngModel)]="value"
      aria-label="units"
      class="ancho-completo"
    ></mat-slider>
  </div>
  <div class="col-4">
    <mat-form-field class="ancho-completo" appearance="fill">
      <mat-label>Fecha a pagar</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
