<div class="row">
  <div class="col-8 mt-2">
    <div class="example-label-container example-label-horizontal">
      <label class="col-6">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip
            >Desde {{ min | currency }} - hasta {{ max | currency }}</mat-chip
          >
        </mat-chip-list>
      </label>
      <label class="col-6">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="warn" selected
            >Cantidad deseada : ({{ value | currency }})</mat-chip
          >
        </mat-chip-list>
      </label>
    </div>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [max]="max"
      [min]="min"
      step="1000"
      [(ngModel)]="value"
      (ngModelChange)="cambioValor($event)"
      aria-label="units"
      class="ancho-completo"
    ></mat-slider>
  </div>
  <div class="col-4">
    <mat-form-field class="ancho-completo" appearance="fill">
      <mat-label>Fecha a pagar</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dateToPay"
        (ngModelChange)="cambioValor($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
